.GameContainer {
    background-image: url('../../images/bg-triangle.svg');
    background-repeat: no-repeat;
    background-position: center;
    margin: 5em auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5em;
    width: 400px;
}